
html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}

body {
     font-family: Poppins;
}

.content {
     width: 60%;
     margin: 0 auto;
     z-index: -1;
     position: absolute;
     top: 60%;
     left: 10%;
     transform: translate(0, -50%);
}

.content h1 {
     font-family: Poppins;
     font-size: 54px;
     color: #101010;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 10px;
}

.content p {
     margin-top: 0;
     text-align: left;
     color: #101010;
     font-weight: 400;
}

.overlay-2 {
     z-index: 0;
     position:absolute;
     align-self: center;
     width: 100%;
     height: 100vh;
     background-image: url(head1.png) no repeat;
}

.overlay {
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 100vh;
     background:  #f3f3f3;
      background-image: url(fall.gif) ;
}

.overlay p {
     font-size: 300px;
     font-weight: 800;
}

.screen {
     color:  #29a329;
     font-family: Poppins;
     position: absolute;
     left: 50%;
     transform: translate(-50%, -50%);
     background-image: url();
}

.myBtn {
     font-family: Poppins;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

button {
     display: block;
     padding: 24px 48px;
     font-family: Poppins;
     font-weight: 700;
     font-size: 12px;
     letter-spacing: 6px;
     border: 2px solid #fff;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     background: none;
     z-index: 1;

     transition: 0.8s ease-out;
}

.myBtn:hover {
     color: #101010;

}

.myBtn:before {
     content: "";
     position: absolute;
     background: #fff;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn:hover:before {
     top: 0;
}

.sidebar{
  background:  #151719;
  position: absolute;
  width: 200px;
  height: 100%

}
.sidebar ul li{
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
.logo{
  border-radius: 80%;
  display: block;
  margin: 0 auto;
}
header{
  align-content: flex-end;
  text-align: center;
  background: #d9ffb3;
  background-image: url(head1.jpg);
  height: 60px;
  width: 1500px;

}
.container1{
  text-align: center;

}
a:link, a:visited { color: #dc8924; text-decoration: none}
a:hover { color: #CC3300; text-decoration:underline }
a:hover,a:active { outline:none }

a.more, .submit_btn { clear: both; display: block; width: 80px; height: 24px; line-height: 24px; text-align: center; text-decoration: none; background: url(images/templatemo_button.png) no-repeat }
